In [1]:
import pandas as pd 
import numpy as np

In [48]:
df = pd.read_csv("covid_toy.csv")
df.shape

(100, 6)

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [49]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer

# Define ColumnTransformer
ct = ColumnTransformer(
    transformers=[
        ("t1", OneHotEncoder(sparse_output=False, drop="first"), ["gender", "city"]),
        ("t2", OrdinalEncoder(categories=[["Mild", "Strong"]]), ["cough"]),
        ("t3", SimpleImputer(), ["fever"])
    ]
)

# Transform data
transformed = ct.fit_transform(df)

# --- Get Column Names ---
# From OneHotEncoder
ohe_features = ct.named_transformers_["t1"].get_feature_names_out(["gender", "city"])

# Other columns
other_features = ["cough", "fever"]

# Combine all feature names
all_features = list(ohe_features) + other_features

# Convert to DataFrame
transformed_df = pd.DataFrame(transformed, columns=all_features)

print(transformed_df)

    gender_Male  city_Delhi  city_Kolkata  city_Mumbai  cough  fever
0           1.0         0.0           1.0          0.0    0.0  103.0
1           1.0         1.0           0.0          0.0    0.0  100.0
2           1.0         1.0           0.0          0.0    0.0  101.0
3           0.0         0.0           1.0          0.0    0.0   98.0
4           0.0         0.0           0.0          1.0    0.0  101.0
..          ...         ...           ...          ...    ...    ...
95          0.0         0.0           0.0          0.0    0.0  104.0
96          0.0         0.0           1.0          0.0    1.0  101.0
97          0.0         0.0           0.0          0.0    0.0  101.0
98          0.0         0.0           0.0          1.0    1.0   98.0
99          0.0         0.0           1.0          0.0    1.0   98.0

[100 rows x 6 columns]

In [51]:
transformed = pd.DataFrame(transformed_df)
transformed.head()

   gender_Male  city_Delhi  city_Kolkata  city_Mumbai  cough  fever
0          1.0         0.0           1.0          0.0    0.0  103.0
1          1.0         1.0           0.0          0.0    0.0  100.0
2          1.0         1.0           0.0          0.0    0.0  101.0
3          0.0         0.0           1.0          0.0    0.0   98.0
4          0.0         0.0           0.0          1.0    0.0  101.0

     0    1    2    3    4      5   6    7
0  1.0  0.0  1.0  0.0  0.0  103.0  60   No
1  1.0  1.0  0.0  0.0  0.0  100.0  27  Yes
2  1.0  1.0  0.0  0.0  0.0  101.0  42   No
3  0.0  0.0  1.0  0.0  0.0   98.0  31   No
4  0.0  0.0  0.0  1.0  0.0  101.0  65   No