In [24]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer , KNNImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
df = pd.read_csv("train-Copy1.csv")
df.drop(columns=['PassengerId','Name','Ticket','Cabin',"Sex","Embarked"],inplace=True)
x= df.drop(columns ="Survived")
y=df["Survived"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state =42)

In [25]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [32]:
knn= KNNImputer(weights = "distance")
x_train_knn = knn.fit_transform(x_train)
x_test_knn = knn.fit_transform(x_test)

In [33]:
import pandas as pd

# Suppose x_train_knn is the imputed array
x_train_knn_df = pd.DataFrame(x_train_knn, columns=x_train.columns)
x_train_knn_df.head()

   Pclass   Age  SibSp  Parch     Fare
0     1.0  45.5    0.0    0.0  28.5000
1     2.0  23.0    0.0    0.0  13.0000
2     3.0  32.0    0.0    0.0   7.9250
3     3.0  26.0    1.0    0.0   7.8542
4     3.0   6.0    4.0    2.0  31.2750

In [34]:
lr = LogisticRegression()
lr.fit(x_train_knn_df,y_train)
y_pred = lr.predict(x_test_knn)
accuracy_score(y_test, y_pred)

C:\Users\Hanif ullah laptop\miniconda3\envs\myenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0.7374301675977654