In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
df = pd.read_csv("titanic_toy.csv")
x= df.drop(columns ="Survived")
y=df["Survived"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state =42)

In [5]:
x_train["age_imputed"]=x_train["Age"]
x_test["age_imputed"]=x_test["Age"]

In [6]:
x_train

      Age      Fare  Family  age_imputed
331  45.5   28.5000       0         45.5
733  23.0   13.0000       0         23.0
382  32.0    7.9250       0         32.0
704  26.0    7.8542       1         26.0
813   6.0   31.2750       6          6.0
..    ...       ...     ...          ...
106  21.0    7.6500       0         21.0
270   NaN   31.0000       0          NaN
860  41.0       NaN       2         41.0
435  14.0  120.0000       3         14.0
102  21.0   77.2875       1         21.0

[712 rows x 4 columns]

In [7]:
# Impute missing Age values in training data
x_train.loc[x_train['age_imputed'].isnull(), 'age_imputed'] = (
    x_train['Age'].dropna().sample(x_train['Age'].isnull().sum()).values
)

# Impute missing Age values in test data
x_test.loc[x_test['age_imputed'].isnull(), 'age_imputed'] = (
    x_train['Age'].dropna().sample(x_test['Age'].isnull().sum()).values
)

In [9]:
df = pd.read_csv("train.csv")

df = pd.read_csv("train.csv" , usecols = ["GarageQual" , "FireplaceQu" , "SalePrice"])
x= df.drop(columns ="SalePrice")
y=df["SalePrice"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state =42)
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [10]:
x_train["FireplaceQu_imputed"]=x_train["FireplaceQu"]
x_test["FireplaceQu_imputed"]=x_test["FireplaceQu"]
x_train["GarageQual_imputed"]=x_train["GarageQual"]
x_test["GarageQual_imputed"]=x_test["GarageQual"]

In [16]:
# For FireplaceQu
n_missing_train = x_train['FireplaceQu_imputed'].isnull().sum()
x_train.loc[x_train['FireplaceQu_imputed'].isnull(), 'FireplaceQu_imputed'] = (
    x_train['FireplaceQu'].dropna().sample(n_missing_train, replace=True).values
)

n_missing_test = x_test['FireplaceQu_imputed'].isnull().sum()
x_test.loc[x_test['FireplaceQu_imputed'].isnull(), 'FireplaceQu_imputed'] = (
    x_train['FireplaceQu'].dropna().sample(n_missing_test, replace=True).values
)

# For GarageQual
n_missing_train = x_train['GarageQual_imputed'].isnull().sum()
x_train.loc[x_train['GarageQual_imputed'].isnull(), 'GarageQual_imputed'] = (
    x_train['GarageQual'].dropna().sample(n_missing_train, replace=True).values
)

n_missing_test = x_test['GarageQual_imputed'].isnull().sum()
x_test.loc[x_test['GarageQual_imputed'].isnull(), 'GarageQual_imputed'] = (
    x_train['GarageQual'].dropna().sample(n_missing_test, replace=True).values
)