In [2]:
import pandas as pd 

df = pd.read_csv(r'C:\Users\Laptop Valley\Desktop\AI\Machine_learning\100 Days Of Ml\Data Handling and Preparation\data_Preprcossing\loan_data_set.csv')

Q 1 : how data big is ?

In [3]:
df.shape

(614, 13)

Q 2 : how does the data look like ?

In [4]:
df.sample(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
364,LP002180,Male,No,0,Graduate,Yes,6822,0.0,141.0,360.0,1.0,Rural,Y
558,LP002798,Male,Yes,0,Graduate,No,3887,2669.0,162.0,360.0,1.0,Semiurban,Y

Q 3 : what is the data type of col ?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [14]:
# changing float into int 
df['LoanAmount'] = df['LoanAmount'].fillna(0).astype('int')
df['CoapplicantIncome'] = df['CoapplicantIncome'].fillna(0).astype('int')
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(0).astype('int')
df['Credit_History'] = df['Credit_History'].fillna(0).astype('int')
df['LoanAmount'] = df['LoanAmount'].astype('int')
df['coapplicantIncome'] = df['CoapplicantIncome'].astype('int')
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype('int')
df['Credit_History'] = df['Credit_History'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    int64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
 13  coapplicantIncome  614 non-null    int64
dtypes: int64(6), object(8)
memory usage: 67.3+ KB

Q 4 : Are there any missing values ?

In [7]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Q 5 : how does the data methematically look like ?

In [8]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

Q 6 : are there any duplicate values ?

In [9]:
df.duplicated().sum()

np.int64(0)

Q 7 : how  is the correlation between columns ?

In [19]:
df.corr(numeric_only=True)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,coapplicantIncome
ApplicantIncome,1.000000,-0.116604,0.538290,-0.015645,0.006986,-0.116604
CoapplicantIncome,-0.116604,1.000000,0.190378,-0.050320,-0.058796,1.000000
LoanAmount,0.538290,0.190378,1.000000,0.058519,-0.032711,0.190378
Loan_Amount_Term,-0.015645,-0.050320,0.058519,1.000000,0.050145,-0.050320
Credit_History,0.006986,-0.058796,-0.032711,0.050145,1.000000,-0.058796
coapplicantIncome,-0.116604,1.000000,0.190378,-0.050320,-0.058796,1.000000