In [1]:
import pandas as pd 
import seaborn as sns 
titanic = sns.load_dataset("titanic")
titanic.sample(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
733,0,2,male,23.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

In [2]:
from pandas_profiling import ProfileReport
profile = ProfileReport(titanic, title="Pandas Profiling Report")
profile.to_file(output_file='output.html')

C:\Users\Laptop Valley\AppData\Local\Temp\ipykernel_4044\2693558863.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 15/15 [00:00<00:00, 22.29it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]